@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Outfit", sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  background-clip: content-box;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  /* background: #fbfbfb !important; */
}

.ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
.ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: white !important;
}

.ant-menu-dark
  .ant-menu-item-selected,
.ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #4c3b63 !important;
  color: #4285f4;
}

:where(.css-1nrkf5c).ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor::before {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  height: 100%;
  border-inline-start: 2px solid #4c3b63 !important;
  content: " ";
}
